<h1>
  <center>
    <span class="view">View</span>
    <span class="the">the</span>
    <span class="red">r</span>
    <span class="orange">a</span>
    <span class="yellow">i</span>
    <span class="green">n</span>
    <span class="blue">b</span>
    <span class="indigo">o</span>
    <span class="violet">w!</span>
  </center>
</h1>
