body {
  background-color: #F0F0F0;
}

.headline {
  font-size: 48px;
}

.center-me {
  text-align: center;
}

.the-form {
  width: 300px;
  margin: 0 auto;
}

.view {
  color: grey;
}

.the {
  color: darkgrey;
}

.red {
  color: #FF0000;
}

.orange {
  color: #FF7F00;
}

.yellow {
  color: #FFFF00;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}

.indigo {
  color: #4B0082;
}

.violet {
  color: #8F00FF;
}
