body {
  background-color: #F0F0F0;
  font-size: 60px;
}

.view {
  color: grey;
}

.the {
  color: darkgrey;
}

.red {
  color: #FF0000;
}

.orange {
  color: #FF7F00;
}

.yellow {
  color: #FFFF00;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}

.indigo {
  color: #4B0082;
}

.violet {
  color: #8F00FF;
}
